body{
    font-family: Roboto !important;
    align-items: center;
    background: $backgound;
}

.card{
    border-radius: 12px;
    -webkit-box-shadow: 0px 0px 27px 0px rgba(0,0,0,0.48);
    box-shadow: 0px 0px 27px 0px rgba(0,0,0,0.48);
    margin: 30px;
    align-items: center;
    min-width: 150px;
    padding: 10px;
}

.card-body{
    width: 100%;
    text-align: center;
}

.card-tittle{
    padding: 10px;
}

.event-type{
max-width: 600px;
max-height: 50px !important;
}

.profile-container{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.profile-card{
    min-width: 600px;
}

.profile-other{
    text-align: -webkit-center;
}

.col-lg-2{
    width: 100%;
}

.col-left{
text-align: left;
}

.col-right{
text-align: right;
}

.nav-btn {
    background-color: $nav-btn-background;
    color: $nav-btn-text;
}

.nav-item a{
    text-align: center;
}

.dropdown-menu.show{
    width: 98%;
}

ul.dropdown-menu{
    text-align-last: left
}

.dropdown-profile .dropdown-menu{
text-align-last: center;
}

.error-msg{
    font-size: 14px;
    color: $error !important;
}

.form-error{
    border-color: $error;
}

.about-container{
    width: 98%;
}

.about-card{
    border-radius: 12px;
    -webkit-box-shadow: 0px 0px 27px 0px rgba(0,0,0,0.48);
    box-shadow: 0px 0px 27px 0px rgba(0,0,0,0.48);
    margin: 30px;
    align-items: center;
    min-height: 200px;
}

.card-img{
    margin-top: 10px;
    max-width: 100px;
    max-height: 100px;
}

.card-login{
    padding: 10px;
}

.login-card-body{
    display: grid;
    padding: 3px;
}

.form-control{
    border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    border: 0px solid #000000;
    background-color: $form-background;
}

.card-footer{
    background-color: transparent;
    border-top: hidden;
}

.card-save{
    margin-top: 5px;
}

.login-container{
    max-width: 50%;
}

.remember{
    display: flex;
    margin-top: 10px;
    align-items: center;
}

.chk-box{
margin-right: 5px;
}

.btn-page{
    background-color: $btn-background;
    color: $btn-text;
}

.label-text{
    width: 100%;
    text-align: center;
}
.event-text{
    min-height: 40px;
    margin-bottom: 1rem;
}

.event-container{
    text-align: -webkit-center;
    min-height: 530px;
}

.event-foot{
    width: 100%;
    justify-content: center;
}

.event-card-header{
background: transparent;
}

.form-label{
    margin: unset;
}

.card-footer{
    padding: 1px;
}

.event-card{
    padding: 10px;
    max-width: 600px;
}

.event-card-body{
    width: 100%;
    text-align: -webkit-center;
}

.pad10{
    padding-top: 10px;
}

.pagination{
    place-content: center;
    width: 100%;
    justify-content: center;
}
.page-link{
    background: $nav-btn-background;
    color:$nav-btn-text;
}
.page-item.active .page-link{
    background: $page-item_link;
    color: $navitem-background;
}

.page-item.disabled .page-link{
    display: none;
}

.card-header{
    background: transparent;
    width: 100%;
}

.input-group-text{
    width: 150px;
    justify-content: center;
}

.container form {
    text-align: -webkit-center;
}

.row {
    margin-top: 10px;
}

.btn-danger{
    border: 5px inset $danger;
    border-radius: 12px;
    -webkit-box-shadow: 0px 0px 18px 3px $danger;
    box-shadow: 0px 0px 18px 3px $danger;
}
.danger-card{
    -webkit-box-shadow: 0px 0px 18px 3px $danger;
    box-shadow: 0px 0px 18px 3px $danger;
}
.text-align-left{
    text-align: left;
}
