$error:#d10000;
$success:#00A708;
$nav-btn-background:#0C4705;
$nav-btn-text:#1FD409;
$navbar-background:#3abb91;
$navitem-background:#0C4705;
$nav-text:#1FD409;
$profilecard-bg:#16ff6f;
$form-background:#d0fffc;
$btn-background:#5FA17A;
$btn-text:#FFFFFF;
$dropdown-item-hover:#e9ecef;
$backgound:#B7EFC5;

