.navbar, .nav {
    width: 100%;
    font-size: 14px;
    background-color: $navbar-background;
    padding-left: 3px;
}

.nav{
    display: flex;
    justify-content: space-between;
}


.nav-left-side{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav-right-side{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
}

.nav-item{
    padding-right: 5px;
    padding-bottom: 10px;
}
.nav-item .nav-link{
    background-color: $navitem-background;
    -webkit-box-shadow: 0px 0px 16px 3px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 16px 3px rgba(0,0,0,0.3);
}

.nav-link:hover, .nav-link:focus {
    color: $btn-text;
}

.nav-item a{
    color:$nav-text;
}
.nav-item-btn{
    background: transparent;
    border: transparent;
    color: $nav-text;
    padding: 0.25rem 1rem;
    width: 100%;
}

.nav-btn:hover{
    color:$btn-text;
}

.nav-item-btn:hover{
    background:$dropdown-item-hover;
    color: #000000;
}

.dropdown-menu.show{
    position: absolute;
    right: 100px;
}

